#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-1482b44b-1b19-42c8-9ee7-4aafcc639c93 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}