#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Rich_text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Rich_text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Rich_text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Rich_text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Label_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Rich_text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Rich_text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-1c91ae8d-1b9f-448a-b0ee-84ed1eb0c8a4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}