#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Button_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}