#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Label_1 {
  position: absolute;
  top: 27px;
  left: 133px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Label_2 {
  position: absolute;
  top: 83px;
  left: 20px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Input_1 {
  position: absolute;
  top: 74px;
  left: 81px;
  padding-left: 15px;
  width: 266px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Input_2 {
  position: absolute;
  top: 142px;
  left: 81px;
  padding-left: 15px;
  width: 266px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Input_2 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Input_2 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Label_3 {
  position: absolute;
  top: 151px;
  left: 20px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Button_1 {
  position: absolute;
  top: 212px;
  left: 20px;
  width: 342px;
  height: 48px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 #s-Button_1 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-28ab2b87-cc47-4963-8958-995e2f1d7e85 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}