#s-2cf7e5ad-d0f9-4eec-ae8b-509f256c43e4 #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-2cf7e5ad-d0f9-4eec-ae8b-509f256c43e4 #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-2cf7e5ad-d0f9-4eec-ae8b-509f256c43e4 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-2cf7e5ad-d0f9-4eec-ae8b-509f256c43e4 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-2cf7e5ad-d0f9-4eec-ae8b-509f256c43e4 #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-2cf7e5ad-d0f9-4eec-ae8b-509f256c43e4 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}