#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_292 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_294 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_293 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_291 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}