#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_8 {
  position: absolute;
  top: 192px;
  left: 0px;
  width: 372px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_8 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Dynamic_Panel_2 {
  position: absolute;
  top: 109px;
  left: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Panel_2 {
  width: 372px;
  height: 42px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Panel_2 .verticalalign {
  vertical-align: top;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Group_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 372px;
  height: 42px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_2 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 372px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_292 {
  position: absolute;
  top: 6px;
  left: 340px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_292 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_9 {
  position: absolute;
  top: 19px;
  left: 58px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 8.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_9 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_2 {
  position: absolute;
  top: 16px;
  left: 18px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_2 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_7 {
  position: absolute;
  top: 151px;
  left: 0px;
  width: 372px;
  height: 42px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_294 {
  position: absolute;
  top: 199px;
  left: 340px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_294 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_293 {
  position: absolute;
  top: 157px;
  left: 340px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_293 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Line_19 {
  position: absolute;
  top: 191px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Line_18 {
  position: absolute;
  top: 149px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_11 {
  position: absolute;
  top: 199px;
  left: 58px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 8.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_11 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_10 {
  position: absolute;
  top: 163px;
  left: 58px;
  width: 126px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 8.0pt;
  line-height: 8.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_10 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_7 {
  position: absolute;
  top: 196px;
  left: 18px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_7 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_6 {
  position: absolute;
  top: 198px;
  left: 18px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_6 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_5 {
  position: absolute;
  top: 161px;
  left: 18px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_5 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_1 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 372px;
  height: 44px;
  background-color: #EFEFEF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_3 {
  position: absolute;
  top: 76px;
  left: 13px;
  width: 62px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_3 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Input_1 {
  position: absolute;
  top: 66px;
  left: 58px;
  padding-left: 15px;
  width: 301px;
  height: 40px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Input_1 .valign {
  vertical-align: middle;
  line-height: 11.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Input_1 input {
  color: #727272;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Light,Arial;
  font-size: 11.0pt;
  text-shadow: none;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_4 {
  position: absolute;
  top: 30px;
  left: 92px;
  width: 192px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_4 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_291 {
  position: absolute;
  top: 33px;
  left: 18px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_291 .valign {
  vertical-align: middle;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_3 {
  position: absolute;
  top: 614px;
  left: 0px;
  width: 371px;
  height: 48px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 14.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}