#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_292 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_9 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_294 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_293 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_11 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_10 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_7 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_4 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a #s-Rectangle_3 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-5dd45800-fc00-4423-8fc8-4e6520f8c99a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}