#s-61f7a552-16f0-4d3b-93b3-259d7e92171f #s-Label_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61f7a552-16f0-4d3b-93b3-259d7e92171f #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61f7a552-16f0-4d3b-93b3-259d7e92171f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-61f7a552-16f0-4d3b-93b3-259d7e92171f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}