#s-61f7a552-16f0-4d3b-93b3-259d7e92171f #s-Label_85 {
  -ms-transform: rotate(0.0deg);
}
#s-61f7a552-16f0-4d3b-93b3-259d7e92171f #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-61f7a552-16f0-4d3b-93b3-259d7e92171f #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
#s-61f7a552-16f0-4d3b-93b3-259d7e92171f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}