#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Rich_text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Rich_text_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Line_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Label_86 {
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Rich_text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Rich_text_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Line_19 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Label_87 {
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Rich_text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Rich_text_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Line_20 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Label_88 {
  -ms-transform: rotate(0.0deg);
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 #s-Rectangle_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-640bfcd0-2792-4cee-981b-82099b4a9542 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}