#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_1 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=55) ;
  filter: alpha(opacity=55) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68503a7d-e959-40d2-95b6-e671729aeb29 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}