#s-68f37fa8-5b1a-4ab1-9435-3d712f014024 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f37fa8-5b1a-4ab1-9435-3d712f014024 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f37fa8-5b1a-4ab1-9435-3d712f014024 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-68f37fa8-5b1a-4ab1-9435-3d712f014024 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-68f37fa8-5b1a-4ab1-9435-3d712f014024 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}