#s-68f37fa8-5b1a-4ab1-9435-3d712f014024 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-68f37fa8-5b1a-4ab1-9435-3d712f014024 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-68f37fa8-5b1a-4ab1-9435-3d712f014024 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-68f37fa8-5b1a-4ab1-9435-3d712f014024 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-68f37fa8-5b1a-4ab1-9435-3d712f014024 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}