#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}