#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_1 {
  position: absolute;
  top: 74px;
  left: 13px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_2 {
  position: absolute;
  top: 74px;
  left: 105px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_3 {
  position: absolute;
  top: 74px;
  left: 197px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_4 {
  position: absolute;
  top: 74px;
  left: 287px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Button_1 {
  position: absolute;
  top: 611px;
  left: 0px;
  width: 375px;
  height: 56px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Button_1 .valign {
  vertical-align: middle;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Label_1 {
  position: absolute;
  top: 36px;
  left: 147px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 #s-Label_1 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-7606dea7-a9be-4d28-b1ae-0421f1e285e2 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}