#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Triangle_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Line_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Line_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Line_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Line_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}