#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Triangle_1 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 51px;
  height: 13px;
  position: absolute;
  overflow: hidden;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Triangle_1 .content {
  width: 51px;
  height: 13px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Triangle_1 {
  position: absolute;
  top: 143px;
  left: 24px;
  width: 51px;
  height: 13px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #shapewrapper-s-Triangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #shapewrapper-s-Triangle_1 span {
  color: #717880;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #shapewrapper-s-Triangle_1 span#rtr-s-Triangle_1_0 {
  color: #717880;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_1 {
  position: absolute;
  top: 74px;
  left: 13px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_2 {
  position: absolute;
  top: 74px;
  left: 105px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_3 {
  position: absolute;
  top: 74px;
  left: 197px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_4 {
  position: absolute;
  top: 74px;
  left: 287px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_4 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-List-item {
  position: absolute;
  top: 155px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_43 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_43 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_43 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_43 span#rtr-s-Rich_text_43_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_20 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_20 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_20 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_20 span#rtr-s-Rich_text_20_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Line_17 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-List-item_1 {
  position: absolute;
  top: 198px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_44 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_44 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_44 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_44 span#rtr-s-Rich_text_44_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_21 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_21 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_21 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_21 span#rtr-s-Rich_text_21_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Line_18 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-List-item_2 {
  position: absolute;
  top: 241px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_45 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_45 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_45 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_45 span#rtr-s-Rich_text_45_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_22 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_22 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_22 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_22 span#rtr-s-Rich_text_22_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Line_19 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-List-item_3 {
  position: absolute;
  top: 284px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_46 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_46 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_46 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_46 span#rtr-s-Rich_text_46_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_23 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_23 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_23 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_23 span#rtr-s-Rich_text_23_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Line_20 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Button_1 {
  position: absolute;
  top: 607px;
  left: 6px;
  width: 353px;
  height: 41px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Button_1 .valign {
  vertical-align: middle;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Label_1 {
  position: absolute;
  top: 36px;
  left: 123px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Label_1 .valign {
  vertical-align: middle;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-List-item_4 {
  position: absolute;
  top: 327px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_47 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_47 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_47 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_47 span#rtr-s-Rich_text_47_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_24 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_24 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_24 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Rich_text_24 span#rtr-s-Rich_text_24_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd #s-Line_21 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-7ac8aded-b13a-4b9c-9904-e024a1ff45cd > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}