#s-b25617ac-3c30-419a-a041-d8c339a8b931 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}