#s-b25617ac-3c30-419a-a041-d8c339a8b931 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 #s-Rectangle_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 375px;
  height: 667px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 #s-Image_1 {
  position: absolute;
  top: 407px;
  left: 177px;
  width: 21px;
  height: 20px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 #s-Image_4 {
  position: absolute;
  top: 86px;
  left: 113px;
  width: 150px;
  height: 150px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
.ui-page {
  overflow-x: hidden;
}
#s-b25617ac-3c30-419a-a041-d8c339a8b931 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}