#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_3 {
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_4 {
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #FFFFFF;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Panel_4 > .valign {
  vertical-align: top;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_5 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_6 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_53 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93);
  filter: alpha(opacity=93);
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_54 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_55 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_90 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_2 {
  -ms-transform: rotate(0.0deg);
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}