#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_53 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=93) ;
  filter: alpha(opacity=93) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-cc5c9bd5-aaf6-489b-8661-cede3e146593 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}