#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_1 {
  position: absolute;
  top: 29px;
  left: 133px;
  width: 88px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_1 {
  position: absolute;
  top: 85px;
  left: 133px;
  width: 93px;
  height: 84px;
  background-color: #00FFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_1 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_2 {
  position: absolute;
  top: 178px;
  left: 133px;
  width: 80px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 10.0pt;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_2 .valign {
  vertical-align: middle;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_2 {
  position: absolute;
  top: 85px;
  left: 26px;
  width: 93px;
  height: 84px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_2 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_3 {
  position: absolute;
  top: 178px;
  left: 26px;
  width: 80px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 10.0pt;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_3 .valign {
  vertical-align: middle;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_4 {
  position: absolute;
  top: 178px;
  left: 255px;
  width: 80px;
  height: 22px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 10.0pt;
  line-height: 10.0pt;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_4 .valign {
  vertical-align: middle;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_3 {
  position: absolute;
  top: 85px;
  left: 255px;
  width: 89px;
  height: 84px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_3 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_101 {
  position: absolute;
  top: 30px;
  left: 334px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_101 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}