#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 #s-Label_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-d403a5b5-9ce3-407b-8fcd-a94216a18213 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}