#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.ui-page {
  overflow-x: hidden;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}