#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_1 {
  position: absolute;
  top: 33px;
  left: 153px;
  width: 96px;
  height: 21px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #404040;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_1 .valign {
  vertical-align: middle;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-List-item-5 {
  position: absolute;
  top: 64px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_39 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_39 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_39 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_39 span#rtr-s-Rich_text_39_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_16 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_16 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_16 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_16 span#rtr-s-Rich_text_16_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_13 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Up-down_2 {
  position: absolute;
  top: 9px;
  left: 309px;
  width: 53px;
  height: 28px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_56 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_56 .valign {
  vertical-align: middle;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_61 {
  position: absolute;
  top: 0px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_61 .valign {
  vertical-align: middle;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-List-item-5_1 {
  position: absolute;
  top: 107px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_40 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_40 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_40 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_40 span#rtr-s-Rich_text_40_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_17 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_17 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_17 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_17 span#rtr-s-Rich_text_17_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_14 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Up-down_3 {
  position: absolute;
  top: 9px;
  left: 309px;
  width: 53px;
  height: 28px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_57 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_57 .valign {
  vertical-align: middle;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_62 {
  position: absolute;
  top: 0px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_62 .valign {
  vertical-align: middle;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-List-item-5_2 {
  position: absolute;
  top: 150px;
  left: 0px;
  width: 375px;
  height: 44px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_41 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 322px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_41 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_41 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_41 span#rtr-s-Rich_text_41_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_18 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_18 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_18 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_18 span#rtr-s-Rich_text_18_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_15 {
  position: absolute;
  top: 43px;
  left: 54px;
  width: 321px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Up-down_4 {
  position: absolute;
  top: 9px;
  left: 309px;
  width: 53px;
  height: 28px;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_58 {
  position: absolute;
  top: 0px;
  left: 0px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_58 .valign {
  vertical-align: middle;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_63 {
  position: absolute;
  top: 0px;
  left: 26px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_63 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}