#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_56 {
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_61 {
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_57 {
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_62 {
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Rich_text_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Line_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_58 {
  -ms-transform: rotate(0.0deg);
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 #s-Label_63 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-f2165aa6-6c05-47f1-89a3-5fc9350c0619 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}