#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Main {
  position: absolute;
  top: 19px;
  left: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Lateral_panel {
  width: 375px;
  height: 648px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Lateral_panel .verticalalign {
  vertical-align: top;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Dynamic_Panel_6 {
  position: absolute;
  top: 46px;
  left: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Panel_6 {
  width: 375px;
  height: 603px;
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  overflow-x: hidden;
  overflow-y: auto;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Panel_6 .verticalalign {
  vertical-align: top;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_5 {
  position: absolute;
  top: 17px;
  left: 15px;
  width: 76px;
  height: 59px;
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Bold,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_5 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Bold,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_6 {
  position: absolute;
  top: 17px;
  left: 104px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_6 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_7 {
  position: absolute;
  top: 17px;
  left: 194px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_7 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_8 {
  position: absolute;
  top: 17px;
  left: 284px;
  width: 76px;
  height: 59px;
  background-color: #FFFFFF;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_8 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_8 span#rtr-s-Rectangle_8_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Group_1 {
  position: absolute;
  top: 99px;
  left: 12px;
  width: 352px;
  height: 44px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_1 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 299px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_1 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_1 span#rtr-s-Rich_text_1_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_2 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_2 span#rtr-s-Rich_text_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_1 {
  position: absolute;
  top: 43px;
  left: 51px;
  width: 301px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Group_2 {
  position: absolute;
  top: 142px;
  left: 12px;
  width: 352px;
  height: 44px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_3 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 299px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_3 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_3 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_3 span#rtr-s-Rich_text_3_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_4 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_4 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_4 span#rtr-s-Rich_text_4_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_2 {
  position: absolute;
  top: 43px;
  left: 51px;
  width: 301px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Group_3 {
  position: absolute;
  top: 185px;
  left: 12px;
  width: 352px;
  height: 44px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_5 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 299px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_5 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_5 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_5 span#rtr-s-Rich_text_5_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_6 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_6 span#rtr-s-Rich_text_6_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_3 {
  position: absolute;
  top: 43px;
  left: 51px;
  width: 301px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Group_4 {
  position: absolute;
  top: 228px;
  left: 12px;
  width: 352px;
  height: 44px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_7 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 299px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_7 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_7 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_7 span#rtr-s-Rich_text_7_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_8 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_8 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_8 span#rtr-s-Rich_text_8_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_4 {
  position: absolute;
  top: 43px;
  left: 51px;
  width: 301px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Button_2 {
  position: absolute;
  top: 548px;
  left: 0px;
  width: 375px;
  height: 55px;
  background-color: #00FFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 12.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Button_2 .valign {
  vertical-align: middle;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Group_5 {
  position: absolute;
  top: 271px;
  left: 12px;
  width: 352px;
  height: 44px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_9 {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 53px;
  width: 299px;
  height: 44px;
  background-color: #FFFFFF;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 22px;
  font-size: 12.0pt;
  font-family: Roboto-Regular,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_9 .valign {
  vertical-align: middle;
  text-align: left;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_9 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_9 span#rtr-s-Rich_text_9_0 {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_10 {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 18px;
  height: 18px;
  background-color: #21C0C0;
  background-image: none;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  line-height: 20px;
  font-size: 11.0pt;
  font-family: Arial,Arial;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_10 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_10 span#rtr-s-Rich_text_10_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Arial,Arial;
  font-size: 11.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_5 {
  position: absolute;
  top: 43px;
  left: 51px;
  width: 301px;
  height: 1px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box {
  position: absolute;
  top: 108px;
  left: 324px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box .valign {
  vertical-align: middle;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box_1 {
  position: absolute;
  top: 150px;
  left: 324px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box_1 .valign {
  vertical-align: middle;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box_2 {
  position: absolute;
  top: 193px;
  left: 324px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box_2 .valign {
  vertical-align: middle;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-ok-blue {
  position: absolute;
  top: 237px;
  left: 324px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #007DFF;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-ok-blue .valign {
  vertical-align: middle;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box_3 {
  position: absolute;
  top: 276px;
  left: 324px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box_3 .valign {
  vertical-align: middle;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Label_3 {
  position: absolute;
  top: 11px;
  left: 92px;
  width: 192px;
  height: 25px;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: Roboto-Regular,Arial;
  font-size: 14.0pt;
  line-height: 14.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Label_3 .valign {
  vertical-align: middle;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Label_291 {
  position: absolute;
  top: 11px;
  left: 16px;
  width: auto;
  height: auto;
  background-color: transparent;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  color: #A9A9A9;
  text-align: left;
  text-decoration: none;
  font-family: IOS8-Icons-Regular,Arial;
  font-size: 20.0pt;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Label_291 .valign {
  vertical-align: middle;
}
.ui-page {
  overflow-x: hidden;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}