#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rectangle_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #A9A9A9;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #A9A9A9;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #A9A9A9;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #A9A9A9;
  border-radius: 6px 6px 6px 6px;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_4 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Button_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Rich_text_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #21C0C0;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #21C0C0;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #21C0C0;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #21C0C0;
  border-radius: 6px 6px 6px 6px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  width: 18px;
  height: 18px;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box_1 {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box_2 {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-ok-blue {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Check-box_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Label_3 {
  -ms-transform: rotate(0.0deg);
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d #s-Label_291 {
  -ms-transform: rotate(0.0deg);
}
.ui-page {
  overflow-x: hidden;
}
#s-fc9efb2f-eb15-45ed-9f3f-1beda5d57c4d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}