<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">设置</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="">
      <ion-radio ng-model="choice">手动</ion-radio>
      <ion-radio ng-model="choice">距离感知</ion-radio>
      <ion-radio ng-model="choice">自动</ion-radio>
      <div>
        <div class="row">
          <div class="col col-25">
            <input type="time">
          </div>
          <div class="rol">开启</div>
        </div>
        <div class="row">
          <div class="col col-25">
            <input type="time">
          </div>
          <div class="rol">关闭</div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
