<ion-view title="我的树莓派">

    <ion-content>
        <ion-list>
            <ion-item class="item item-icon-right" href="#/app/dashboardsetting">
                <i class="icon ion-ios-arrow-right"></i>
                我的家

            </ion-item>
            <ion-item class="item item-icon-right" href="#">
                <i class="icon ion-ios-arrow-right"></i>
              我的办公室 
            </ion-item>
            <ion-item class="item item-icon-right" href="#">
                <i class="icon ion-ios-arrow-right"></i>
              宠物间
            </ion-item>
            <ion-item class="item item-icon-right" href="#">
                <i class="icon ion-ios-arrow-right"></i>
              我的公寓
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
