<ion-view title="绑定树莓派">
<!--<ion-title>
  <h1 class="title">设置设备</h1>
</ion-title>-->
  <ion-content >
  <ion-list class="row">
	  <ion-item class="device-item active">
	      <a href="#" class="block device-item-content" >电视</a>
	      <span class="device-item-title">1小时后开启</span>
	  </ion-item> 
	  <ion-item class="device-item">
	      <a href="#" class="block device-item-content" >电视</a>
	      <span class="device-item-title">1小时后开启</span>
	  </ion-item> 
	  <ion-item class="device-item">
	      <a href="#" class="block device-item-content" >电视</a>
	      <span class="device-item-title">1小时后开启</span>
	  </ion-item> 
  </ion-list>
  </ion-content>

</ion-view>
