<ion-view title="我的家庭">
<!--<ion-title>
  <h1 class="title">设置设备</h1>
</ion-title>-->
<ion-title>
    <h1 class="title">Title!</h1>
</ion-title>
  <ion-content >
  <ion-list  ng-show="!!items&&items.length>0">
	  <ion-item  ng-class="{true: 'device-item  active', false: 'device-item'}[item.status==1]" ng-click="toggle(item);" ng-repeat="item in items">
      <a href="#" class="block device-item-content" >
              <img ng-src='{{item.name|deviceImg:item.status}}'/><span>{{item.name}}</span></a> 
	      <span class="device-item-title">
	      	<img src='img/switch_on.png' ng-show="item.status==1"/> 
	      	<img src='img/switch_off.png' ng-show="item.status==0"/>
	      </span>
	  </ion-item> 
  </ion-list>
  <div ng-show="!items||items.length==0" style="font-size:24px; color:#666;text-align:center;line-height:36px;height:36px;">
       还未绑定任何智能设备
  </div>
  </ion-content>
  <ion-footer-bar class="bar-balanced">
      <h1 class="title" ng-click="goBind()">绑定智能盒子</h1>
  </ion-footer-bar>
</ion-view>
